<center><img src="assets/images/mip.jpg"></center>
<div id="home">
	<h1>{{data.view.name}}</h1>
	<p>
		We continue to find ways to improve the community and movies at the park is just one more way we
		 stay true to our mission statement:
		<ul>
			<li>Enhance the quality of life in Chicago by becoming the leading provider of recreation and leisure opportunities</li>
			<li>Provide safe,inviting and beautifully maintained parks and facilities</li>
			<li>Create a customer-focused and responsive park system that prioritizes
				 the needs of children and families</li>
		</ul>
	</p>
</div>